.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: lime;
}

.Header a{
    text-decoration: none;
    color: red;
    font-size: 25px;
}